.jumbortron {
    background-color: blueviolet;
}

.skills {
    background-color: rgba(133, 122, 145, 0.589);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

p {
    font-size: 1.25rem;
}

.purple{
    background-color: blueviolet;
    color: white;
}



.white{
    color: white;
}

