.jumbortron {
    background-color: blueviolet;
}

.skills {
    background-color: #535353;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

p {
    font-size: 1.25rem;
}

.purple{
    background-color: #6E3667;
    color: white;
}



.white{
    color: white;
}

