{% extends 'base.html' %}




{% block content %}




{% for service in services %}
{% if forloop.counter  == 1 %}
<div class="container-fluid text-center">
    <div class="card-group">
{% endif %}
        {% if forloop.counter|divisibleby:"4" and forloop.counter > 1 %}
            </div>
            </div>
            <div class="container-fluid text-center">
            <div class="card-group">
        {% endif %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{service.name}}</h5>
                        <p class="card-text">{{service.description}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
        {% endfor %}

        {% for div in close_div %}
            </div>
        {% endfor%}
  



{% endblock %}